Question 1.1:
1:STATIC VARIABLES: static variables are variables that are assigned outside the methods in the class and are accessible in all the methods throughout the class.
DYNAMIC VARIABLES: dynamic variables are those variables which are created within the methods in the class.

2: “pop()”: This method removes a specified key from the dictionary and returns its associated value.
Example:

In [ ]:
dict1={'shivani':1,'dushyant':2,'nikhil':3}
dict1.pop('shivani')

1

“popitem()”: this method removes the last key value pair.

In [ ]:
dict1={'shivani':1,'dushyant':2,'nikhil':3}
dict1.popitem()

('nikhil', 3)

“clear()”: this method removes all the key value pair and left dictionary empty.

In [ ]:
dict1={'shivani':1,'dushyant':2,'nikhil':3}
dict1.clear()
dict1

{}

3: “frozenset”: frozensets are type of sets that are immutable in nature.

In [ ]:
frozen_set=frozenset({"apple","shivani","neha","harsh"})
print(frozen_set)

frozenset({'apple', 'harsh', 'shivani', 'neha'})

In [ ]:
frozen_set[3]=”Harsh”

SyntaxError: invalid character '”' (U+201D) (<ipython-input-12-51193efab892>, line 1)

5: “__init__” : __init__ is the constructor in the class is used to initialize the  instances in the class and when we create the
 new instance  then it will call itself and assign the values.

In [ ]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age

Question 1.3.

name = ["Mohan", "dash", "karam", "chandra","gandhi","Bapu"]

do the following operations in this list;


a) add an element "freedom_fighter" in this list at the 0th index.


b) find the output of the following ,and explain how?








c) add two more elements in the name ["NetaJi","Bose"] at the end of the list.


d) what will be the value of temp:

name = ["Bapuji", "dash", "karam", "chandra","gandi","Mohan"]

temp=name[-1]

name[-1]=name[0]

name[0]=temp

print(name)

In [ ]:
name = ["Mohan", "dash", "karam", "chandra","gandhi","Bapu"]
name.insert(0,"freedom_fighter")
name

['freedom_fighter', 'Mohan', 'dash', 'karam', 'chandra', 'gandhi', 'Bapu']

In [ ]:
name = ["freedomFighter","Bapuji","MOhan" "dash", "karam",
"chandra","gandhi"]
length1=len((name[-len(name)+1:-1:2]))
length2=len((name[-len(name)+1:-1]))
print(length1+length2)

'''explanation: the list named name is given and it has a length of 6, for length1 indexing is starting
 from -5   and ending at index -1 and the step size is 2 so in length1 there will be index -5,-2 so length1 will be 2 for length 2 indexing is starting from -5 and ending at index -1 with a step size of 1
So in length2 there will be index -5,-4,-3,-2 so the length of length2 will be  4. The final result will be 6.'''

6

'explanation: the list named name is given and it has a length of 6, for length1 indexing is starting\n from -5   and ending at index -1 and the step size is 2 so in length1 there will be index -5,-2 so length1 will be 2 for length 2 indexing is starting from -5 and ending at index -1 with a step size of 1\nSo in length2 there will be index -5,-4,-3,-2 so the length of length2 will be  4. The final result will be 6.'

In [ ]:
name = ["freedomFighter","Bapuji","MOhan" "dash", "karam",
"chandra","gandhi"]
name.extend(["NetaJi","Bose"])
name

['freedomFighter',
 'Bapuji',
 'MOhandash',
 'karam',
 'chandra',
 'gandhi',
 'NetaJi',
 'Bose']

In [ ]:
#Question 1.6:
color = input("Enter the color of the signal (RED/Yellow/Green): ").strip()


if color == "RED":
    print("Stop")
elif color == "Yellow":
    print("stay")
elif color == "Green":
    print("Go")
else:
    print("Invalid color. Please enter traffic light colour")

Enter the color of the signal (RED/Yellow/Green): RED
Stop

In [ ]:
#Question 1.7:
def add(num1,num2):
  return num1 +num2
def subtract(num1,num2):
  return num1-num2
def multiply(num1,num2):
  return num1*num2
def divide(num1,num2):
  return num1/num2
print(add(8,2))
print(subtract(9,5))
print(multiply(6,3))
divide(9,3)

10
4
18

3.0

In [ ]:
#Question: 1.8
input1=int(input("enter the first number:"))
input2=int(input("enter the second number:"))
input3=int(input("enter the third number:"))
result= input1 if input1>input2 and input1>input3 else input2 if input2>input1 and input2>input3 else input3
print("the larger number is:" ,result)

enter the first number: 56
enter the second number:457
enter the third number:76
the larger number is: 457

In [ ]:
#Question:1.9
whole_number=int(input("enter the whole number"))
i=1
while i <=whole_number:
  if whole_number%i==0:
    print(i)
  i+=1

enter the whole number 56
1
2
4
7
8
14
28
56

In [ ]:
#Question:1.10
summation=0
while True:
  num=int(input("enter the number"))

  if num>0:
    summation+=num
    print(summation)

  else:
    break

enter the number  56
56
enter the number67
123
enter the number -1

In [ ]:
subjects=['mathematics','english','hindi','science','social science']
marks=[]
for i in subjects:
  mark=int(input("enter your marks:"))
  if 0 <= mark <100:
    marks.append(mark)
print(marks)

enter your marks: 67
enter your marks:56
enter your marks: 89
enter your marks: 95
enter your marks:92
[67, 56, 89, 95, 92]

In [ ]:
#2:


subjects=['mathematics','english','hindi','science','social science']
marks=[]
for i in subjects:
  mark=int(input("enter your marks:"))
  if 0 <= mark <100:
    marks.append(mark)
print(marks)
sum=0
for i in marks:
  sum+=i
print(sum)
percentage=(sum/500)*100
print(percentage)

enter your marks: 56
enter your marks:89
enter your marks: 86
enter your marks: 54
enter your marks:56
[56, 89, 86, 54, 56]
341
68.2

In [ ]:
#3:




subjects=['mathematics','english','hindi','science','social science']
marks=[]
for i in subjects:
  mark=int(input("enter your marks:"))
  if 0 <= mark <100:
    marks.append(mark)
print("marks:",marks)
sum=0
for i in marks:
  sum+=i
print("total:",sum)
percentage=(sum/500)*100
print("percentage:",percentage)
if percentage>85:
  print("grade:","A")
elif 75<= percentage <85:
   print("grade:","B")
elif 50<= percentage <75:
   print("grade:","C")


elif 30<= percentage<50:
  print("grade:","D")
else:
  print("reappear")

enter your marks: 89
enter your marks:9
enter your marks:95
enter your marks: 92
enter your marks:91
marks: [89, 9, 95, 92, 91]
total: 376
percentage: 75.2
grade: B

In [ ]:
#Question:1.13
wavelength=int(input("enter the wavelength"))
if 400<=wavelength<440:
  print("violet")
elif 440<=wavelength<460:
  print("indigo")
elif 460<=wavelength<500:
  print("blue")
elif 500<=wavelength<570:
  print("green")
elif 570<=wavelength<590:
  print("yellow")
elif 590<=wavelength<620:
  print("orange")
elif 620<=wavelength<720:
  print("red")
#output=enter the wavelength 560
#green

enter the wavelength 560
green

In [ ]:
#Question:1.14
#a)
mass_earth = 5.972e24
mass_moon = 7.34767309e22
mass_sun =1.989e30
distance_earth_sun=1.496e11
distance_moon_earth=3.844e8
gravitational_force_sun_earth= 6.674*10**-11*(mass_earth*mass_sun)/distance_earth_sun**2
gravitational_force_sun_earth
#output=
#3.5422368558580452e+22

3.5422368558580452e+22

In [ ]:
#b)
mass_earth = 5.972e24
mass_moon = 7.34767309e22
mass_sun =1.989e30
distance_earth_sun=1.496e11
distance_moon_earth=3.844e8
gravitational_force_moon_earth= 6.674*10**-11*(mass_earth*mass_moon)/distance_moon_earth**2
gravitational_force_moon_earth
#output=
#1.9819334566450407e+20

1.9819334566450407e+20

In [ ]:
#c)
mass_earth = 5.972e24
mass_moon = 7.34767309e22
mass_sun =1.989e30
distance_earth_sun=1.496e11
distance_moon_earth=3.844e8
gravitational_force_sun_earth= 6.674*10**-11*(mass_earth*mass_sun)/distance_earth_sun**2
print(gravitational_force_sun_earth)
gravitational_force_moon_earth= 6.674*10**-11*(mass_earth*mass_moon)/distance_moon_earth**2
print(gravitational_force_moon_earth)
if gravitational_force_sun_earth>gravitational_force_moon_earth:
  print("gravitational force between sun and earth is greater than gravitational force between moon and earth")
else:
  print("gravitational force between moon and earth is greater than gravitational force between sun and earth")

3.5422368558580452e+22
1.9819334566450407e+20
gravitational force between sun and earth is greater than gravitational force between moon and earth

In [ ]:
#d)
mass_earth = 5.972e24
mass_moon = 7.34767309e22
mass_sun =1.989e30
distance_earth_sun=1.496e11
distance_moon_earth=3.844e8
gravitational_force_sun_earth= 6.674*10**-11*(mass_earth*mass_sun)/distance_earth_sun**2
print(gravitational_force_sun_earth)
gravitational_force_moon_earth= 6.674*10**-11*(mass_earth*mass_moon)/distance_moon_earth**2
print(gravitational_force_moon_earth)
moon_acceleration=gravitational_force_moon_earth/mass_moon
print(moon_acceleration)
earth_acceleration=gravitational_force_moon_earth/mass_earth
print(earth_acceleration)
if earth_acceleration>moon_acceleration:
  print(" earth is faster than moon")
else:
  print("moon is faster than earth")
#output=
#3.5422368558580452e+22
#1.9819334566450407e+20
#0.002697362052405955
#3.3187097398610864e-05
#moon is faster than earth

3.5422368558580452e+22
1.9819334566450407e+20
0.002697362052405955
3.3187097398610864e-05
moon is faster than earth

In [ ]:
#Question: 2

class Students:
  def __init__(self,name,age,roll_number):
    self.__name=name
    self.__age=age
    self.__roll_number=roll_number
  def get_name(self):
    return self.__name
  def get_age(self):
    return self.__age
  def get_roll_number(self):
    return self.__roll_number
  def set_name(self,name):
    self.__name=name
  def set_age(self,age):
    self.__age=age
  def set_roll_number(self,roll_number):
    self.__roll_number=roll_number




obj1=Students("shivani",20, 617)
obj1.get_name()
obj1.set_name("shivi")
obj1.get_name()
#output=shivi

'shivi'

In [ ]:
#Question: 3

class LibraryBook:
  def __init__(self,bookname,author,availability_status):
    self.__bookname=bookname
    self.__author=author
    self.__availability_status=availability_status

  def borrow_book(self):
    if self.__availability_status==True:
      print("book is available")
      self.__availability_status=False
      return self.__bookname, self.__author

    else:
      print("book is not available")
      return None
  def return_book(self):
    self.__availability_status=True
    print("book is returned")
    return None

obj1=LibraryBook('python for datascience','oreilly',True)
obj2=LibraryBook('statistics for datascience','oreilly',True)
obj3=LibraryBook('data science','oreilly',True)
objs=[obj1,obj2,obj3]
for obj in objs:
  print(obj.borrow_book())
  print(obj.return_book())
print(obj1.borrow_book())
print(obj2.borrow_book())
print(obj3.borrow_book())
# #output=
# book is available
# ('python for datascience', 'oreilly')
# book is returned
# None
# book is available
# ('statistics for datascience', 'oreilly')
# book is returned
# None
# book is available
# ('data science', 'oreilly')
# book is returned
# None
# book is available
# ('python for datascience', 'oreilly')
# book is available
# ('statistics for datascience', 'oreilly')
# book is available
# ('data science', 'oreilly')

book is available
('python for datascience', 'oreilly')
book is returned
None
book is available
('statistics for datascience', 'oreilly')
book is returned
None
book is available
('data science', 'oreilly')
book is returned
None
book is available
('python for datascience', 'oreilly')
book is available
('statistics for datascience', 'oreilly')
book is available
('data science', 'oreilly')

In [ ]:
#Question: 5
class Animal:
  def make_sound(self):
    print(" animal is making sound")
class Dog(Animal):
  def make_sound(self):
    print("dog barks")
class Cat(Animal):
  def make_sound(self):
    print(" cat meows")
objt1=Cat()
objt1.make_sound()
objt2=Dog()
objt2.make_sound()
#output=
# cat meows
# dog barks

 cat meows
dog barks

In [ ]:
# Question:7
class Room:
  def __init__(self,room_number,room_type,rate,availability):
    self._room_number=room_number
    self._room_type=room_type
    self._rate=rate
    self.__availability=availability
  def room_identification_number(self,room_number):
    self.__room_number
  def book_room(self):
    pass
  def check_in_guest(self):
    pass
  def check_out_guest(self):
    pass
class SuiteRoom(Room):
  def __init__(self,room_number,room_type,rate,availability,curtains):
    super().__init__(room_number,room_type,rate,availability)
    self._curtains=curtains
class StandardRoom(Room):
  def __init__(self,room_number,room_type,rate,availability,airConditioner):
    super().__init__(room_number,room_type,rate,availability)
    self._airConditioner=airConditioner
obj1=SuiteRoom(142,'suite',1200,True,'available')
obj2=StandardRoom(126,"standard",2500,True,'AC available')
print(obj1._curtains)
print(obj1._rate)
 #output=
# available
# 1200

available
1200

In [ ]:
#Question:8
class Member:
  member_list=[]
  def __init__(self,name,age,membership_type,membership_status):
    self._name=name
    self._age=age
    self._membership_type=membership_type
    self.__membership_status=membership_status

  def new_member(self,name,age,membership_type,membership_status):
    new_member = Member(name, age, membership_type, membership_status)
    Member.member_list.append(new_member)
    return  Member.member_list

  def renew_membership(self,membership_status):
    self._membership_status=membership_status


  def cancel_membership(self,membership_status):
    self._membership_status=None


  def Identification_number(self,id_number):
    self.__id_number=id_number


  def show_details(self):
    return [self._name,self._age,self._membership_type]


class FamilyMember(Member):
  def __init__(self,name,age,membership_type,membership_status,relation):
    super().__init__(name,age,membership_type,membership_status)
    self.__relation=relation
class IndividualMember(Member):
  def __init__(self,name,age,membership_type,membership_status,gender):
    super().__init__(name, age, membership_type, membership_status)
    self.__gender=gender


  for i in  Member.member_list :
    i.show_details()
    print()


obj1=IndividualMember('shivi',20,'personal',True,'female')
print(obj1._name)
obj2=Member('neha',18,'elite',True)
obj2._age


#output=shivi

shivi

18

In [ ]:
#Question:9
class Event:
  list_of_events=[]
  def __init__(self,name,date,time,location,list_of_attendees):
    self.name=name
    self.date=date
    self.time=time
    self.location=location
    self.__list_of_attendees=list_of_attendees


  def show(self):
    return Event.list_of_events


  def create_new_event(self,name,date,time,location,list_of_attendees):
      new_event=Event(name,date,time,location,list_of_attendees)
      Event.list_of_events.append(new_event)
      return Event.list_of_events


  def add_attendees(self,new_attendee):
      self.__list_of_attendees += new_attendee


  def remove_attendees(self,extra_attendee):
      self.__list_of_attendees.remove(extra_attendee)


  def total_attendees(self):
      return self.__list_of_attendees
  def __repr__(self):
      return f"Event('{self.name}', '{self.date}', '{self.time}', '{self.location}', {self.__list_of_attendees})"


class PrivateEvent(Event):
  def __init__(self,name,date,time,location,list_of_attendees,identification_number,event_type):
    super().__init__(name,date,time,location,list_of_attendees)
    self.__identification_number=identification_number
    self.event_type=event_type


class PublicEvent(Event):
  def __init__(self,name,date,time,location,list_of_attendees,identification_number,event_type):
    super().__init__(name,date,time,location,list_of_attendees)
    self.__identification_number=identification_number
    self.event_type=event_type




obj1=PrivateEvent('haldi ceremony','28 dec 2023','9am','moradabad',250,112233,'private')
obj2=Event("marriage",'29 dec 2023','10pm','moradabad',1000)
obj3=obj2.create_new_event("mehndi",'29 dec 2023','6pm','moradabad',200)
obj4=Event("marriage",'29 dec 2023','10pm','moradabad',1000)
obj1.add_attendees(100)
obj2.add_attendees(100)
print(obj2.total_attendees())
print(obj1.total_attendees())
for events in Event.list_of_events:
  print(events)
#output=
# 1100
# 350
# Event('mehndi', '29 dec 2023', '6pm', 'moradabad', 200)

1100
350
Event('mehndi', '29 dec 2023', '6pm', 'moradabad', 200)

In [ ]:
# Question:10
class Flight:
  def __init__(self,flight_number,departure_airport,arrival_airport,departure_time,arrival_time,available_seats):
    self._flight_number=flight_number
    self._departue_airport=departure_airport
    self._arrival_airport=arrival_airport
    self._deoarture_time=departure_time
    self._arrival_time=arrival_time
    self.__available_seats=available_seats
  def book_seats(self,number):
    if self.__available_seats>0:
      self.__available_seats-=number
      return "seat is available"

    else:
        print("seats are not available")
  def cancel_reservation(self,number):
     self.__available_seats+=number
     return f"reservation cancelled for {number} seats"


  def remaining_seats(self):
    return self.__available_seats
class DomesticFlight(Flight):
  def __init__(self,flight_number,departure_airport,arrival_airport,departure_time,arrival_time,available_seats,Food):
    super().__init__(flight_number,departure_airport,arrival_airport,departure_time,arrival_time,available_seats)
    self.Food=Food
class InternationalFlight(Flight):
  def __init__(self,flight_number,departure_airport,arrival_airport,departure_time,arrival_time,available_seats,Food,Blanket,Wifi):
    super().__init__(flight_number,departure_airport,arrival_airport,departure_time,arrival_time,available_seats)
    self.Food=Food
    self.Blanket=Blanket
    self.Wifi=Wifi


flight1=DomesticFlight(234,'delhi','bangalore','6am','11am',100,'yes')
print(flight1.remaining_seats())
print(flight1.book_seats(5))
print(flight1.remaining_seats())
print(flight1.cancel_reservation(2))


#output=
# 100
# seat is available
# 95
# reservation cancelled for 2 seats

100
seat is available
95
reservation cancelled for 2 seats